*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --purple-display:#370D1E;
    --font-family-title: 'Cabin';
}

html{
    overflow-x: hidden;
    /* background: linear-gradient(180deg, #370D1E -70.2%, rgba(97, 64, 81, 0.00) 100%); */
    background-color: #370D1E;
}

body{
    font-family: var(--font-family-title);
    background-color: var(--purple-display);
    margin: 5px 0 0 0;
    padding: 0;
}
 h1, h2, p{
    margin: 0;
    padding: 0;
 }
 
h2, p{
   color: white;
}

 h1{
   background: linear-gradient(176deg, #FFF 27.12%, rgba(255, 255, 255, 0.00) 137.98%);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
 }

 header h1{
   font-size: 28px;
   font-weight: 600;
 }

 h1{
    font-weight: 600;
    font-size: 24px;
 }

 h2{
    font-size: 20px;
    font-weight: 500;
 }

 p{
    font-size: 16px;
    font-weight: 400;
 }

 #text-movies{
   margin-top: 10px;
   margin-bottom: 10px;
 }

 #slider{
  /* text-align: end; */
  height: 435px;
  width: 200px;

  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  

 }
 #slider img{
  width: 100%;
  object-fit: cover;
  /* position: static; */
  width: 155px;
   height: 205px;
   margin-bottom: 20px;
   scroll-snap-align: center;
   cursor: pointer;
   
 }

 #slider img:hover{
  transition: opacity 0.3s ease-in-out 0.1s;
  opacity: 0.5;
 }

    #slider::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 25px;
  }

  /* #slider:hover::-webkit-scrollbar {
    background-color: #0A0000;

  } */
  
  /* #slider::-webkit-scrollbar:vertical {
      width:20px;
      height: 50px;

      
      
      
  } */
  
  /* #slider::-webkit-scrollbar-button:increment,#slider::-webkit-scrollbar-button {
      display: none;

      thumb #602843;
      track #ffffff0a

      
  } 
   */

  #slider::-webkit-scrollbar-thumb{
    height: 20px;
    background-color: #602843;
    border-radius: 15px;
    border: 2px solid #f1f2f3;
      /* transition-duration: 0.8s;
      transition-timing-function: ease;
      transition-delay: 0.1; */

}

#slider::-webkit-scrollbar-track{
  border-radius: 15px;
      background-color: #ffffff0a;
      /* transition-property: background-color;
      transition-duration: 0.8s;
      transition-timing-function: ease;
      transition-delay: 0.1; */
      
}
  /* #slider::-webkit-scrollbar-track {
      
  } */

  

  /*#64394e
  
  */

 .movie-container img{
   border-radius: 15px;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.70);
   background: lightgray 50%/ cover no-repeat;
 }



 #trendingPreviewMovies{
  text-align: start;
 }

 #explorePreviewMovies{
  text-align: start;
 }


 .categories-select{
   position: relative;
   /* justify-content: end; */
   margin-top: -20px;
   margin-bottom: -20px;
 }

 .categories-select h2{
   margin: 15px;
   border-radius: 15px;
   text-align: justify;
   background: linear-gradient(178deg, #0A0000 1.82%, rgba(10, 0, 0, 0.00) 144.18%);
   display: flex;
   width: 485px;
   padding: 21px 186px 21px 186px;
   justify-content: flex-end;
   align-items: center;
 }


#categories-form{
   display:grid;
   grid-template-columns: repeat(3, 150px);
   grid-template-rows: repeat(3, 40px); 
   margin-left: 20px;
   justify-content: start;
}

#categories-preview{
   position: absolute;
}

 #categories-preview h2{
   margin: 15px;
   border-radius: 15px;
   text-align: center;
   background: linear-gradient(178deg, #0A0000 1.82%, rgba(10, 0, 0, 0.00) 144.18%);
   display: flex;
   width: 485px;
   padding: 21px 186px 21px 186px;
   justify-content: flex-end;
   align-items: center;
   white-space: nowrap;
   
 }

 input {
   height: 13px;
   position: relative;
   overflow: hidden;
}

footer{
  background-color: black;
}

.inactive{
    display: none;
}