*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --purple-display:#370D1E;
    --font-family-title: 'Cabin';
}

html{
    background-color: black;
    overflow-x: hidden;
}

body{
    font-family: var(--font-family-title);
    background-color: var(--purple-display);
    margin: 5px 0 0 0;
    padding: 0;
}
 h1, h2, p{
    margin: 0;
    padding: 0;
 }
 
h2, p{
   color: white;
}

 h1{
   background: linear-gradient(176deg, #FFF 27.12%, rgba(255, 255, 255, 0.00) 137.98%);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
 }

 header h1{
   font-size: 28px;
   font-weight: 600;
 }

 h1{
    font-weight: 600;
    font-size: 24px;
 }

 h2{
    font-size: 20px;
    font-weight: 500;
 }

 p{
    font-size: 16px;
    font-weight: 400;
 }

 #text-movies{
   margin-top: 10px;
   margin-bottom: 10px;
   text-align: center;
 }

 #movie-container{
   text-align: center;
 }

 #movie-container img{
   border-radius: 15px;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.70);
   background: lightgray 50%/ cover no-repeat;
 }


 .categories-select{
   position: relative;
   justify-content: end;
 }

 .categories-select h2{
   margin: 15px;
   border-radius: 15px;
   text-align: justify;
   background: linear-gradient(178deg, #0A0000 1.82%, rgba(10, 0, 0, 0.00) 144.18%);
   display: flex;
   width: 485px;
   padding: 21px 186px 21px 186px;
   justify-content: flex-end;
   align-items: center;
 }


#categories-form{
   display:grid;
   grid-template-columns: repeat(3, 150px);
   grid-template-rows: repeat(3, 40px); 
   justify-content: center;
}

#categories-preview{
   position: absolute;
}

 #categories-preview h2{
   margin: 15px;
   border-radius: 15px;
   text-align: center;
   background: linear-gradient(178deg, #0A0000 1.82%, rgba(10, 0, 0, 0.00) 144.18%);
   display: flex;
   width: 485px;
   padding: 21px 186px 21px 186px;
   justify-content: flex-end;
   align-items: center;
   white-space: nowrap;
   
 }

 input {
   height: 13px;
   position: relative;
   overflow: hidden;
}

.inactive{
    display: none;
}