*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --purple-display:#370D1E;
    --font-family-title: 'Cabin';
}

html{
    background-color: black;
}

body{
    font-family: var(--font-family-title);
    background-color: var(--purple-display);
    margin: 5px 0 0 0;
    padding: 0;
}
 h1, h2, p{
    margin: 0;
    padding: 0;
    color: white;
 }

 header h1{
   font-size: 28px;
   font-weight: 600;
 }

 h1{
    font-weight: 600;
    font-size: 24px;
 }

 h2{
    font-size: 20px;
    font-weight: 500;
 }

 p{
    font-size: 16px;
    font-weight: 400;
 }
 
 .main-content{
   justify-content: start;
   align-content: start;
   position: relative;
    display:grid;
    grid-template-columns: repeat(3, 220px);
    gap: 15px;
    text-align: center;
    margin: 10px;
 }

 .side-content{
   justify-content: end;
   align-content: start;
   position: relative;
    display: grid;
    /* grid-template-rows: repeat(2, 250px); */
    grid-template-columns: 507px;
 }

 .categories-select{
   position: relative;
    margin: 10px;
    text-align: center;
 }
 .categories-select h2{
   margin: 15px;
   border-style: solid;
   border-radius: 15px;
 }
 #categories-form{
   justify-content: end;
   display:grid;
   grid-template-columns: repeat(3, 150px);
   grid-template-rows: repeat(3, 40px);
   /* height: 165px; */
 }

 .categories{
   margin:20px;
}

.categories p{
   text-align: justify;
}
 .categories-preview{
   /* bottom: 41px;
    left: 900px; */
    position: relative;
 }

 .categories-preview h2{
   margin: 15px;
 }

 label{
   height: 20px;
   width: 50px;
 }

 .trending-preview{
    align-items: center;
 }

 .movie-container img{
    width: 150px;
    height: 205px;
    margin: 15px;
 }

.inactive{
    display: none;
}